<nav class="navbar navbar-inverse navbar-fixed-top"" role="navigation">
   <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'home' class="navbar-brand"}}Ember-Rails-Devise{{/link-to}}
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav">
          <li>{{#link-to 'help'}}Help{{/link-to}}</li>
          <li>{{#link-to 'posts'}}All Posts{{/link-to}}</li>
          <li>{{#link-to }}{{hiName}}{{/link-to}}</li>
      </ul>

      <div class="btn-group pull-right">
        {{#if isAuthenticated}}

            <button class="btn btn-primary" {{action logout}}>Logout</button>
        {{else}}
            {{view App.MenuItem href="#/login" label="Login" class="btn btn-primary"}}
            {{view App.MenuItem href="#/registration" label="Register" class="btn btn-primary"}}
        {{/if}}
      </div>
    </div>
  </div>
</nav>
